body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #7eb9d8, #8ecae3, #54779f, #3b3565, #7b6dcd);
    background-size: 2000% 2000%;
}

#piano {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@keyframes BackgroundGradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}
.key {
    width: 60px;
    height: 120px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    background: linear-gradient(270deg, #5028a8, #7f39ca, #a450ff, #7f39ca, #5028a8);
    background-size: 2000% 2000%;  /* Increase the size for a smoother gradient transition */
    animation: BackgroundGradient 30s ease infinite;
}

.key:active {
    background-color: #ddd;
}

#composeInput {
    margin: 20px 0;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
