body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;

    background: linear-gradient(270deg, #5028a873, #7f39ca);
    background-size: 4000% 4000%;  

    /* 应用动画 */
    animation: BackgroundGradient 15s ease infinite;
    color: rgb(100, 10, 10);
}

@keyframes BackgroundGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

input[type="text"] {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.adim{
    background-color: cyan;
     color: black;
      font-style: initial;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    color: #D8000C;
}
