body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background: linear-gradient(270deg, #5028a873, #7f39ca);
    background-size: 4000% 4000%;  

    animation: BackgroundGradient 15s ease infinite;
    color: rgb(100, 10, 10);
    
    
}

@keyframes BackgroundGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#canvas {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
}

input[type="range"] {
    width: 300px;
    margin: 10px;
    cursor: pointer;
    accent-color: #2575fc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

